  {% csrf_token %}
  {% load static %}
        {% if request.path == '/'  %}
    <header class="header--main-page">
        {% elif request.path == '/add-donation/' or request.path == '/donation-confirmation/' %}
    <header class="header--form-page">
        {% else %}
    <header>
        {% endif %}
      <nav class="container container--70">
        <ul class="nav--actions">
            {% if not request.user.is_authenticated %}
          <li><a href="{% url 'login'%}#login" class="btn btn--small btn--without-border">Zaloguj</a></li>
          <li><a href="{% url 'register'%}#register" class="btn btn--small btn--highlighted">Załóż konto</a></li>
            {% elif request.user.is_authenticated %}
          <li class="logged-user">
            Witaj {{ request.user.username }}
            <ul class="dropdown">
              <li><a href="{% url 'my-profile' %}">Profil</a></li>
                 {% if request.path == '/donation-confirmation/' %}
              <li><a href="#">Moje zbiórki</a></li>
                {% elif request.path == '/add-donation/' %}
              <li><a href="#">Ustawienia</a></li>
                {% endif %}
              {% if request.user.is_superuser %}
              <li><a href="/admin-page/" >Panel administracyjny</a></li>
              {% else %}
              <li><a href="/admin-page/" style="display:none;">Panel administracyjny</a></li>
              {% endif %}
              <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            </ul>
          </li>
            {% endif %}
        </ul>

        <ul>
          <li><a href="{% url 'landing-page'%}" class="btn btn--without-border active">Start</a></li>
          <li><a href="{% url 'landing-page'%}#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="{% url 'landing-page'%}#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="{% url 'landing-page'%}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
            {% if request.path == '/login/' or request.path == '/register/' or request.path == '/donation-confirmation/' %}
          <li><a href="{% url 'add-donation' %}#add-donation" class="btn btn--without-border" style="display:none;">Przekaż dary</a></li>
            {% else %}
          <li><a href="{% url 'add-donation' %}#add-donation" class="btn btn--without-border">Przekaż dary</a></li>
            {% endif %}
          <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>

        {% if request.path == '/'  %}
      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Zacznij pomagać!<br />
            Oddaj niechciane rzeczy w zaufane ręce
          </h1>
        </div>
      </div>

        {% elif request.path == '/add-donation/'  %}
      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Oddaj rzeczy, których już nie chcesz<br />
            <span class="uppercase">potrzebującym</span>
          </h1>

          <div class="slogan--steps">
            <div class="slogan--steps-title">Wystarczą 4 proste kroki:</div>
            <ul class="slogan--steps-boxes">
              <li>
                <div><em>1</em><span>Wybierz rzeczy</span></div>
              </li>
              <li>
                <div><em>2</em><span>Spakuj je w worki</span></div>
              </li>
              <li>
                <div><em>3</em><span>Wybierz fundację</span></div>
              </li>
              <li>
                <div><em>4</em><span>Zamów kuriera</span></div>
              </li>
            </ul>
          </div>
        </div>
      </div>

        {% elif request.path == '/donation-confirmation/'  %}
      <div class="slogan container container--90">
          <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
          </h2>
      </div>
        {% endif %}

</header>